
body{
    font: 10px/20px arial;
    background-color: #eaeaeaea;
    background-image: url(img/1300934.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 800px;
    margin: auto;
    background-color: whitesmoke;
    padding-top: 20px;
}

.header .judul{
    font-size: 30px;
    margin-left: 25px;
    
    
}
.header ul li{

    display: inline-block;
    margin-right: 20px;
    margin-left: -15px;
    
    
   
}


.header a{
    color: black;
    text-decoration: none;
    font-size: 15px;
  
    
}

a:hover{
    color: skyblue;
    background-color:black;
}

.hero{
    
    height: 280px;
    background-image: url(img/78.jpg);
    background-size: cover;
    height: 400px;
    width: 820px;
    background-repeat: no-repeat;
    background-position: -20px -30px;
   
}
.herodua{
        height: 280px;
        background-image: url(img/ui.jpg);
        background-size: cover;
        height: 350px;
        width: 800px;
        background-repeat: no-repeat;
    
}
.content{
    padding: 20px;
}

.content h2{
    font-size: 20px;
    font-weight: bold;
}
.content .penulis a{
    color: skyblue;
    text-decoration: none;
}
.content .penulis{
    font-size: 13px;
    margin-top: -10px;
}
.content p{
    margin-bottom: 20px;
    font-size: 12px;
}
.footer{
    background-color: #333;
    padding: 20px;
}
.footer .copy{
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}